.bordureTitre {
    border-top: 2px solid #d4002d;
}

.titre {
    color: white;
    background-color: #d4002d;
    font-size: 1.5em;
    padding-right: 10px;
    padding-left : 10px;
}

.fond1{
    background-color: #f8dbe1;
}

.fond2{
    background-color: #ea9999;
}
thead{
    border: none;
}

ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li > input{
    padding-right: 100px;
}

#boutonSuivant {
    margin-top: 10px;
}

.test{
    border-color: red;
    border-style: solid;
}

.message{
    display : none;
    position: absolute;
}

.message >span{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: red;
}

p >span{
    display: none;
    margin: 0;
    padding-left: 0.3em;
    font-size: 1em;
    color: red;
}

.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

#messageErreur {
    display: none;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 1em;
    color: red;
}

#messageErreur > span {
    font-size: 1.2em;
}

#imageRiver {
    max-width: 75%;
}


#lienInscription{
    font-weight: bold;
    padding-left: 1.5em;
    color: red;
}

#lienInscription:hover{
    text-decoration: none;
}


.sansDeco {
    color: inherit;
}

.sansDeco:hover {
    color: #d4002d;
    text-decoration: inherit;
}

.sansDeco > .card:hover{
    border-color: red;
}
/*
.bordureRouge div{
    border-color: #d4002d;
}*/

.boutonModif{
    padding-left: 2em;
}

#sections li:hover{
    color: #d4002d;
}

#elements li:hover{
    color: #d4002d;
}

li a:hover {
    color: #d4002d;
    text-decoration: inherit;
}

li a{
    color: black;
}

.validerNouvRep {
    color: #1e7e34;
    font-size: 1.2em;
    padding-left: 1.5em;
}

.listeDecoree {
    list-style-type: circle;
}

.delete:hover {
    color: #d4002d;
}

.delete {
    cursor: pointer;
}

#retourEnArriere{
    font-size: 20px;
}

.oi-share-boxed{
    cursor: pointer;
}


.liste{
    height:200px;
    overflow:hidden;
    overflow-y:scroll;
}
.liste > button{
    border: none;
}

canvas {
    /*display : block; */
    margin : auto;
}

#jeu {

}

#infosHeader {
    background-color: #d4002d;
    color: white;
}

.oi-magnifying-glass{
    cursor: pointer;
}

#legende img {
    max-width: 40px;
}

.couleurElement{
    width: 40px;
    height: 40px;

}

#ensembleGraphiques canvas{
    width: 70% !important;
}